name: Build images

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
       tag: ["latest", "snapshot"]
       distribution: ["alpine", "debian"]
    name: ${{ matrix.tag }}-${{ matrix.distribution }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ${{ matrix.distribution }}/Dockerfile
          config: ".github/hadolint.yml"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build images
        run: ./build ${{ matrix.tag }} ${{ matrix.distribution }}
