name: Validate README.md

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    name: validate
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Validate README.md
      run: bash -c 'source helper-functions && validate_readme_constraints'
